<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>图书列表</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="col-md-12">
		<h3>图书列表</h3>
		<h4 id="status"></h4>
    <#if host??>
		<table cellpadding="100">
			<tr>
			<td>${host.name}</td>
				<td><a href="/users/logout/do">退出登录</a></td>
			</tr>
		</table>
    <#else>
    <h5>未登录！<a href="/users/login">登陆/</a><a href="/users/register">注册</a></h5>
    </#if>
		<table class="table-striped">
			<tr>
				<td>ID</td>
				<td class="col-md-6">书名</td>
				<td class="col-md-2">作者</td>
				<td class="col-md-1">价格</td>
				<td class="col-md-1">状态</td>
				<td class="col-md-1" colspan="2" align="center"><a href="/books/add" target="_blank">增书入库</a></td>
			</tr>
			<#list books as book>
        <tr>
          <td><a>${book.id}</a></td>
          <td>《${book.name}》</td>
          <td>${book.author}</td>
          <td>${book.price}元</td>
					<td><#if book.status == 0> 在库 <#elseif book.status == 1> 已借出 </#if></td>
          <td><a href="/books/${book.id}/delete">借书</a></td>
          <td><a href="/books/${book.id}/recover">还书</a></td>
        </tr>
      </#list>
		</table>
	</div>
</body>
</html>
